h1 {
    color: red;
    font-style: italic;
    text-decoration: underline;
}

h2 {
    color: yellow;
}

.green {
    color: green;
}

#pink {
    color: pink;
}

[type="email"] {
    font-size: 40px;
}

blockquote::before{
    content: open-quote;
}

a:visited {
color: red;
}
